extends layout

block content
    br
    br
    br
    form(method='post')
        #form-group
            input.form-control(type='text',name='title')
        #form-group
            input.form-control(type='text',name='author')
        #form-group
            textarea.form-control(name='body' cols='30', rows = '7')
        #form-group
            button(type='submit') Добавить


