extends layout

block content
    br
    br
    br
    form(method='post', action='/user/login')
        #form-group
            label Login
            input.form-control(type='text',name='name')
        #form-group
            label Password
            input.form-control(type='text',name='password')
        #form-group
            button(type='submit') Войти


