extends layout

block content
    br
    br
    br
    form(method='post', action='/users/register')
        #form-group
            label Name
            input.form-control(type='text',name='name')
        #form-group
            label Email
            input.form-control(type='text',name='email')
        #form-group
            label Login
            input.form-control(name='login' cols='30')
        #form-group
            label Password
            input.form-control(name='password' cols='30')
        #form-group
            label Confirmpassword
            input.form-control(name='confirmPass' cols='30')
        #form-group
            button(type='submit') Зарегистрироваться


